@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
@import '../node_modules/tippy.js/dist/tippy.css';
// import Swiper styles
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: linear-gradient(251.06deg, #2b0d6a 19.23%, #000000 100%);
  --secondary: linear-gradient(251.06deg, #303030 19.23%, #000000 100%);
  --teriary: #ffff;
  --cardImg: linear-gradient(to right bottom, #2B0D6A 19.23%, #000000 100%);
  --secondary:
    linear-gradient(251.06deg, #303030 19.23%, #000000 100%);
  --limenu1: -o-linear-gradient(235.79deg, #CCCCCC 0.52%, rgba(100, 100, 100, 0) 162.93%);
  --limenu2: linear-gradient(214.21deg, #CCCCCC 0.52%, rgba(100, 100, 100, 0) 162.93%);
  --searchmenu: linear-gradient(267.61deg, rgba(254, 254, 254, 0.152) 11.86%, rgba(254, 254, 254, 0.092) 103.83%, rgba(254, 254, 254, 0.2) 103.83%);
  --title: linear-gradient(180deg, #6A9CFF 0%, #4AFFE9 100%);
  --titleStylePage: linear-gradient(150.91deg, #FFFFFF 40.46%, #FFF1F1 46.62%, #7A7A7A 46.62%, #000000 46.62%);
}

@layer {
  html {
    background-attachment: fixed;
    scroll-behavior: "smooth",
      // height: 100vh;
      // height: 100%;
  }

  html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }

  html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  body {
    @apply font-body;
  }
}

@layer header {
  .cl-primary {
    background: var(--primary);
  }

  .cl-secondary {
    background: var(--secondary);
  }
}

.menu__item {
  --primary-l: 70%;
  color: hsl(216, 12%, var(--primary-l));
  font-weight: 500;
  font-size: 20px;
  display: inline-block;

  & > a {
    padding: 10px 15px;
  }

  &:hover {
    --primary-l: 100%;

    .menu__child {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    .menu__icon {
      transform: rotate(180deg);
    }
  }
}

.menu__icon {
  transition: transform 0.3s linear;
}

.menu__child {
  z-index: 20;
  top: 100%;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  color: black;
  background-color: white;
  transition: transform 0.3s linear, visibility 0.3s linear, opacity 0.3s linear;
  transform: translateY(20px);
}

.menu__child::before {
  content: '';
  top: 0;
  height: 23px;
  transform: translateY(-100%);
  background-color: transparent;
}

.menu__child,
.menu__child::before {
  left: 0;
  right: 0;
  position: absolute;
}

.menu__child-item {
  width: 25%;
  font-size: 18px;
}

.menu__child-item-heading {
  font-weight: 600;
  color: hsl(259, 78%, 50%);
  margin-bottom: 10px;
  font-size: 22px;
}

.menu__child-item-list > li {
  cursor: pointer;
  padding: 4px 0;
  transition: color 0.15s linear;

  & > a:hover {
    color: hsl(259, 78%, 50%);
  }
}

.thumb-end_time,
.thumb-end_line {
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.search-bar {
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 12px 22px 12px 12px;
}

.title {
  background: var(--title);
}

.title-style-page {
  background: var(--titleStylePage);
}

// .menu li,
.title,
.title-style-page {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.discover {
  border-radius: 10px;
  border: 1px solid rgb(195, 195, 195, 0.5);
}

.search-bar,
.discover {
  background: var(--searchmenu);
  backdrop-filter: blur(2px);
}

//* Custom <Swiper></Swiper>
.mySwiper {
  height: 629px;
}

//* custom swiper-slide of <SwiperSide></SwiperSlide>
.swiper-slide {
  padding-bottom: 20px;

  &:first-child,
  &:first-child {
    padding-bottom: 0;
  }
}

//* Custom pagination of Swiper
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.07);
}

.swiper-pagination-bullet-active {
  background: #d4c2fa !important;
}

.card-img {
  background-image: var(--cardImg);
  border: 5px solid rgb(37, 30, 60, 0.3);
}

.card-product:hover > .choose-size {
  transform: translateY(-100%);
  transition: all 0.3s;
}

#progress-bar {
  --range-track-color: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0));

  height: 1px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  appearance: none;
  background: var(--range-track-color);
  position: relative;
  will-change: transform;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 999px;
    box-shadow: 0 0 0 6px black, 0 0 0 8px white;
    cursor: pointer;
  }
}

.thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4caf50;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider {
  position: relative;
  height: 5px;
  background-color: #ddd;
}

.slider .thumb {
  top: -8px;
}

.message-title {
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4568dc, #b06ab3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4568dc,
    #b06ab3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* height */
.images-area::-webkit-scrollbar:horizontal {
  height: 10px !important;
}
